* {
    background: #17191e;
    border: none;
    border-radius: 0;
    color: #a0a8b7;
    font-family: JetBrainsMonoNerdFont;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#backlight,
#clock,
#disk,
#memory,
#pulseaudio,
#tags,
#tray,
#window,
#workspaces {
    margin-right: 8px;
    margin-left: 8px;
}

#battery,
#network {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

#workspaces button.active label {
    color: #e2b86b;
    font-weight: bold;
}

#tags button.occupied label {
    color: #4fa6ed;
}

#tags button.focused label {
    color: #f7ca88;
}
