* {
    background: #181818;
    border: none;
    border-radius: 0;
    color: #d8d8d8;
    font-family: RobotoMonoNerdFont;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#backlight,
#clock,
#disk,
#memory,
#pulseaudio,
#tags,
#tray,
#window,
#workspaces {
    margin-right: 8px;
    margin-left: 8px;
}

#battery,
#network {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

#workspaces button.active label {
    color: #f7ca88;
    font-weight: bold;
}

#tags button.occupied label {
    color: #7E97AB;
}

#tags button.focused label {
    color: #f7ca88;
}
